<%= turbo_frame_tag :bootstrap_modal, target: :_top do %>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-controller="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">What type of appointment are you looking for ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= form_with model: @appointment, url: advisor_appointments_path(@advisor) do |form|  %>
          <div class="modal-body">
            <%= form.label :time, "Quelle heure" %>
            <%= form.time_field :time %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit "Appointment Confirmed", data: {action: 'click ->modal#submitEnd'} %>
          </div>
        <% end  %>
      </div>
    </div>
  </div>
<% end %>
