<div class= "bg-image">
  <div class="container-info container mx-auto">
    <h2 id="pvu">L'expertise des vélocistes en un click !</h1>
    <h2>Réservez - Réprarez - Roulez</h4>
    <br>
    <form id="search-cities">
      <div class="form-group">
        <label for="city-name" class="form-label">Chercher une ville </label>
        <div class="d-flex">
          <input type="text" id="city-name" class="form-input" placeholder="Paris, Nantes, Bordeaux...">
          <input type="submit" value="Rechercher" class="btn-form">
        </div>
      </div>
    </form>
  </div>
  <%# <%= image_tag("velo-2.png") %>
</div>

 <div class="container mt-4">
    <div class="grid grid-cols-4 gap-4">
      <% @advisors.each do |advisor| %>
        <div class="card-advisor">
          <img src="https://source.unsplash.com/random/?portrait" alt="Advisors">
          <h2 id="advisor-name"><%= "#{advisor.first_name} #{advisor.last_name}" %></h2>
          <h6><%= advisor.speciality%></h6>
          <p id="loc"><%= advisor.address%>, <strong><%= advisor.city %></strong></p>
          <div class="advisor-info">
            <p id="bio"><%= advisor.bio %></p>
          </div>
          <div class="parent-rdv">
            <%= link_to "prendre rendez-vous", show_advisor_path(advisor), class: "rdv" %>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>


<script>
  let advisors = <%= @advisors.to_json.html_safe %>;
</script>

<%= javascript_import_module_tag "search" %>
