New Appointement


<%= simple_form_for(Appointment.new, url: advisor_appointments_path(@advisor)) do |f| %>
  <ul>
    <li>
      <%= f.input :appointment_type, as: :radio_buttons, collection: @advisor.appointment_types.map { |type| [type.name + " - " + type.duration.to_s + " min", type.id] }, required: true, label: false, item_wrapper_tag: :div, input_html: { name: 'appointment[appointment_type_id]' } %>
    </li>
  </ul>

  <% @week_dates.each do |day_name, date| %>
    <p class="day"><%= day_name %> - <%= date.strftime('%d-%b') %></p>
    <% @advisor.availabilities.each do |availability| %>
      <% availability.time_slots_day(date).each do |slot| %>
        <% if slot != "none" %>
            <%= f.input :time, as: :radio_buttons, collection: [[slot, slot]], item_wrapper_tag: :div, label: false, input_html: { name: "appointment[time]", id: "advisor_hours_#{slot}_#{date.strftime('%Y-%m-%d')}" }, class: "test-form" %>
            <%= f.hidden_field :date, input_html: { name: "appointment[date]"}, value: date.strftime('%Y-%m-%d') %>
        <% else %>
          <div class="slot">
            <input class="none-advisor-hours" type="radio" name="appointment[time]" id="advisor_hours_none_<%= date.strftime('%Y-%m-%d') %>" value="none" disabled>
            <label class="hour-slot" for="advisor_hours_none_<%= date.strftime('%Y-%m-%d') %>">
              <div class="block">
                <div class="time w-full">-</div>
              </div>
            </label>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.submit 'Soumettre' %>
<% end %>
