<div class="container">
<div class="advisor-appoint">
  <img src="https://source.unsplash.com/random/?portrait" alt="Advisor">
  <div class="advisor-inf">
    <h2><%= "#{@advisor.first_name} #{@advisor.last_name}" %></h2>
    <h4><%= @advisor.bio %></h4>
  </div>
  <div class="form-rdv">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rdv">
      Prendre rendez-vous avec <%= @advisor.first_name %>
    </button>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="rdv" tabindex="-1"  aria-labelledby="rdvLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rdvLabel"> What type of appointment do you need ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>
    <%# <%= form_with model: @appointment, url: advisor_appointments_path(@advisor), local: true do |form| %>
      <%# <div class="select-appoint"> %>
        <%# <%= form.label :apppointment_type_id, "Type de Rendez-vous" %>
        <%# <%= form.collection_select :apppointment_type_id, @advisor.appointment_types, :id, :name, prompt: "Sélectionnez un type" %>
      <%# </div> %>

      <%# <div class="select-appoint">
        <%= form.label :date, "Quelle date" %>
        <%# <%= form.date_field :date %>
      <%# </div> %>

      <%# <div class="select-appoint"> %>
        <%# <%= form.label :time, "Quelle heure" %>
        <%# <%= form.time_field :time %>
      <%# </div> %>

      <%# <div class="sub-btn"> %>
        <%# <%= form.submit "Confirmation" %>
      <%# </div> %>

    <%# <% end  %>
  </div>
</div>

</div>
