<h1>Your availabilities</h1>

<div class="container">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Days</th>
        <th scope="col">Is working </th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="colspan=2"></th>


      </tr>
    </thead>

    <tbody>
    <% @availabilities.each do |availability| %>
      <tr>
        <td>Monday</td>
        <td><%= availability.monday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td><%= availability.tuesday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td><%= availability.wednesday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td><%= availability.thursday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Friday</td>
        <td><%= availability.friday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td><%= availability.saturday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td><%= availability.sunday %></td>
        <td><%= availability.start_time %></td>
        <td><%= availability.end_time%></td>
        <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
      </tr>
    <% end  %>
    </tbody>
  </table>

  
</div>
